<footer class="app-footer">
	<div class="footer-container">
		<div class="footer-content">
			<div class="footer-section">
				<div class="footer-logo-container">
					<a routerLink="/home">
						<img src="assets/images/logo_scanqr.png" alt="Scan QR Reader Logo" class="footer-logo-image">
						<span class="footer-logo-text">Scan QR Reader</span>
					</a>
				</div>
				<p>The fastest QR code scanner for your mobile device.</p>
				<p>
					Scan QR Reader is a QR code scanner online. It can scan QR codes from images and through any webcam. Use it online without downloading any app.
				</p>
				<p>
					The Scan QR Reader web app scans QR codes locally without uploading them to our servers. Your data and privacy is our top priority. Built with Cosmo Wolfe's javascript port of Google's ZXing library
				</p>
			</div>
			
			<div class="footer-section">
				<h4>Support</h4>
				<ul>
					<li><a href="#" (click)="navigateToHelp()">Help Center</a></li>
					<li><a routerLink="/privacy">Privacy Policy</a></li>
					<li><a routerLink="/terms">Terms of Service</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<h4>Quick Links</h4>
				<ul>
					<li><a routerLink="/home">Home</a></li>
					<li><a routerLink="/about">About</a></li>
					<li><a routerLink="/contact">Contact</a></li>
					<li><a routerLink="/qr-code-generator">QR Code Generator</a></li>
				</ul>
			</div>
			<div class="footer-section">
				<h4>Data Privacy</h4>
				<p>At Scan QR Reader, we take the privacy and security of our users' data very seriously. Our web app scans QR codes locally without uploading any data to our servers, ensuring that your information stays private. Additionally, all data is encrypted to provide an additional layer of security.</p>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2025 Scan QR Reader. All rights reserved.</p>
		</div>
	</div>
</footer>