RewriteEngine On
RewriteBase /

# Handle Angular routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]

# Handle .html extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /index.html [L]

<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
</IfModule>
