<nav>
    <div class="nav nav-tabs tabs-translate">
        <a class="nav-item nav-link" href="javascript:void(0);" routerLinkActive="active" routerLink="/home">
            <img src="assets/images/icon/translate-text.png" alt="">
            <span>Translate text</span>
            <small>30 languages</small>
        </a>
        <a class="nav-item nav-link " href="javascript:void(0);" routerLinkActive="active" routerLink="/translate-file">
            <img src="assets/images/icon/translate-file.svg" alt="">
            <span>Translate file</span>
            <small>.pdf, .doc, .pptx</small>
        </a>
        <a class="nav-item nav-link" href="javascript:void(0);" routerLinkActive="active" routerLink="/translate-audio">
            <img src="assets/images/icon/translate-audio.svg" alt="">
            <span>Translate audio</span>
            <small>.mp3</small>
        </a>
        <a class="nav-item nav-link" href="javascript:void(0);" routerLinkActive="active" routerLink="/translate-video">
            <img src="assets/images/icon/translate-video.svg" alt="">
            <span>Translate video</span>
            <small>.mp4</small>
        </a>
    </div>
</nav>