<!-- Gallery Section -->
<section class="gallery-section">
	<div class="gallery-container">
		<div class="gallery-grid">
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait1.jpg" alt="Portrait 1">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait2.jpg" alt="Portrait 2">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait3.jpg" alt="Portrait 3">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait4.jpg" alt="Portrait 4">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait5.jpg" alt="Portrait 5">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait6.jpg" alt="Portrait 6">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait7.jpg" alt="Portrait 7">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait8.jpg" alt="Portrait 8">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait9.jpg" alt="Portrait 9">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait10.jpg" alt="Portrait 10">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait11.jpg" alt="Portrait 11">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait12.jpg" alt="Portrait 12">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait13.jpg" alt="Portrait 13">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait14.jpg" alt="Portrait 14">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait15.jpg" alt="Portrait 15">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait16.jpg" alt="Portrait 16">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait17.jpg" alt="Portrait 17">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait18.jpg" alt="Portrait 18">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait19.jpg" alt="Portrait 19">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait20.jpg" alt="Portrait 20">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait21.jpg" alt="Portrait 21">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait22.jpg" alt="Portrait 22">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait23.jpg" alt="Portrait 23">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait24.jpg" alt="Portrait 24">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait25.jpg" alt="Portrait 25">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait26.jpg" alt="Portrait 26">
			</div>
			<div class="gallery-item">
				<img src="assets/images/gallery/portrait27.jpg" alt="Portrait 27">
			</div>
		</div>
	</div>
</section>
